<html>
    <head>
        <title>My list</title>
        <style>
            footer {
                text-align: center;
                margin-top: 1em;
            }
            div.empty_icon {
                height: 68px;
                width: 68px;
                background: gray;
                border-radius: 15px;
            }
            img.platform {
                height: 16px;
            }
            span.byline {
                color: gray;
                font-size: 0.75em;
                font-style: italic;
            }
            table, th, td {
                border: 1px solid;
            }
            th, td {
                padding: 0.5em 1em 0.5em 1em;
            }
        </style>
        <script>
            const filterByPlatform = (platform) => {
                document.querySelectorAll('tr.game').forEach(row => {
                    console.log(row.classList.contains(platform));

                    if (row.classList.contains(platform)) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                });
            };
        </script>
        <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    </head>
    <body>
        <h1>My List</h1>
        <div>
        Find
            <ul>
                {% if games|length -%}<li>🕹 <a href="#Games">Games</a></li>{% endif -%}
                {% if books|length -%}<li>📚 <a href="#Books">Books</a></li>{% endif -%}
                {% if models|length -%}<li>🛠 <a href="#3DModels">3D Models</a></li>{% endif -%}
                {% if soundtracks|length -%}<li>🎵 <a href="#Soundtracks">Soundtracks</a></li>{% endif -%}
                {% if software|length -%}<li>💻 <a href="#Software">Software</a></li>{% endif -%}
                {% if development_tools|length -%}<li>🛠 <a href="#DevTools">Development Tools</a></li>{% endif -%}
                {% if videos|length -%}<li>📺 <a href="#Videos">Videos</a></li>{% endif -%}
            </ul>
            If an entry has a ⭐, I've played/seen/read/listened to it and really enjoyed it

        </div>

        {% if games|length -%}
            <a id="Games"><h2>🕹 Games</h2></a>
            <ul>
                <li>If a game has a <img class="platform" src="img/gog.svg"/> (gog.com), <img class="platform" src="img/rockstar_social.svg"/> (Rockstar Social), <img class="platform" src="img/steam.svg"/> (Steam), it means that I have a key in that marketplace (but you'll have to check there to know compatibility)</li>
                <li>If a game has platform icon, it means that I have a downloadable version of it in that platform</li>
            </ul>
            Show:
            <a href="#" onClick="filterByPlatform('all');">all</a>,
            {% for platform in ['android', 'gog', 'linux', 'mac', 'rockstar_social', 'steam', 'windows'] -%}
                <img onClick="filterByPlatform('{{platform}}');" class="platform" src="img/{{platform}}.svg"/>
            {% endfor -%}
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Platforms</td>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games -%}
                    <tr class="game all {{game.platforms|join(' ')}}">
                        <td>
                            {% if game.icon -%}
                                <img src="{{game.icon}}"/>
                            {% else -%}
                                <div class="empty_icon"/>
                            {% endif -%}
                        </td>
                        <td>
                            <a href="{% if game.url -%}{{game.url}}{% elif 'gog' in game.platforms -%}https://www.gog.com/en/games?query={{game.name}}{% elif 'rockstar_social' in game.platforms -%}https://socialclub.rockstargames.com/games{% elif 'steam' in game.platforms -%}https://store.steampowered.com/search/?term={{game.name}}{% else -%}https://www.google.com/search?q=game+{{game.name}}{% endif -%}">{{game.name}}</a> {% if game.recommended -%}⭐{% endif -%}
                        </td>
                        <td>
                            {% for p in game.platforms -%}
                                <img class="platform" src="img/{{p}}.svg"/>
                            {% endfor -%}
                        </td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        {% endif -%}

        {% if books|length -%}
            <a id="Books"><h2>📚 Books</h2></a>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books -%}
                    <tr>
                        <td>
                            {% if book.icon -%}
                                <img src="{{book.icon}}"/>
                            {% else -%}
                                <div class="empty_icon"/>
                            {% endif -%}
                        </td>
                        <td>
                            {% if book.url -%}
                                <a href="{{book.url}}">{{book.name}}</a>
                            {% else -%}
                                {{book.name}}
                            {% endif -%}
                            {% if book.author -%}
                                <span class="byline">by {{book.author}}</span>
                            {% endif -%}
                            {% if book.recommended -%}⭐{% endif -%}
                        </td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        {% endif -%}

        {% if models|length -%}
        <a id="3DModels"><h2>🛠 3D Models</h2></a>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                {% for model in models -%}
                <tr>
                    <td>
                        {% if model.icon -%}
                            <img src="{{model.icon}}"/>
                        {% else -%}
                            <div class="empty_icon"/>
                        {% endif -%}
                    </td>
                    <td>
                        {% if model.url -%}
                            <a href="{{model.url}}">{{model.name}}</a>
                        {% else -%}
                            {{model.name}}
                        {% endif -%}
                        {% if model.recommended -%}⭐{% endif -%}
                    </td>
                </tr>
                {% endfor -%}
            </tbody>
        </table>
        {% endif -%}

        {% if soundtracks|length -%}
        <a id="Soundtracks"><h2>🎵 Soundtracks</h2></a>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                {% for soundtrack in soundtracks -%}
                <tr>
                    <td>
                        {% if soundtrack.icon -%}
                            <img src="{{soundtrack.icon}}"/>
                        {% else -%}
                            <div class="empty_icon"/>
                        {% endif -%}
                    </td>
                    <td>
                        {% if soundtrack.url -%}
                            <a href="{{soundtrack.url}}">{{soundtrack.name}}</a>
                        {% else -%}
                            {{soundtrack.name}}
                        {% endif -%}
                        {% if soundtrack.recommended -%}⭐{% endif -%}
                    </td>
                </tr>
                {% endfor -%}
            </tbody>
        </table>
        {% endif -%}

        {% if software|length -%}
            <a id="Software"><h2>💻 Software</h2></a>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Platforms</td>
                    </tr>
                </thead>
                <tbody>
                    {% for program in software -%}
                    <tr>
                        <td>
                            {% if program.icon -%}
                                <img src="{{program.icon}}"/>
                            {% else -%}
                                <div class="empty_icon"/>
                            {% endif -%}
                        </td>
                        <td>
                            <a href="{% if program.url -%}{{program.url}}{% else -%}https://duckduckgo.com/?q={{program.name}}{% endif -%}">{{program.name}}</a> {% if program.recommended -%}⭐{% endif -%}
                        </td>
                        <td>
                            {% for p in program.platforms -%}
                                <img class="platform" src="img/{{p}}.svg"/>
                            {% endfor -%}
                        </td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        {% endif -%}

        {% if development_tools|length -%}
            <a id="DevTools"><h2>🛠 Development Tools</h2></a>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Platforms</td>
                    </tr>
                </thead>
                <tbody>
                    {% for program in development_tools -%}
                    <tr>
                        <td>
                            {% if program.icon -%}
                                <img src="{{program.icon}}"/>
                            {% else -%}
                                <div class="empty_icon"/>
                            {% endif -%}
                        </td>
                        <td>
                            <a href="{% if program.url -%}{{program.url}}{% else -%}https://duckduckgo.com/?q={{program.name}}{% endif -%}">{{program.name}}</a> {% if program.recommended -%}⭐{% endif -%}
                        </td>
                        <td>
                            {% for p in program.platforms -%}
                                <img class="platform" src="img/{{p}}.svg"/>
                            {% endfor -%}
                        </td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        {% endif -%}

        {% if videos|length -%}
        <a id="Videos"><h2>📺 Videos</h2></a>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                {% for video in videos -%}
                <tr>
                    <td>
                        {% if video.icon -%}
                            <img src="{{video.icon}}"/>
                        {% else -%}
                            <div class="empty_icon"/>
                        {% endif -%}
                    </td>
                    <td>
                        {% if video.url -%}
                            <a href="{{video.url}}">{{video.name}}</a>
                        {% else -%}
                            {{video.name}}
                        {% endif -%}
                        {% if video.recommended -%}⭐{% endif -%}
                    </td>
                </tr>
                {% endfor -%}
            </tbody>
        </table>
        {% endif -%}

        <footer>
            Built with <a href="https://github.com/marianosimone/humble-bundle-cataloger">Humble Bundle Cataloger</a> -
            <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy
        </footer>
    </body>
</html>